<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Detail Form</title>
</head>
<body>
    {% block content %}
        <h1>Title: {{ movie.title }}</h1>
        <p><strong>How you heard about it:</strong> {{ movie.how_heard}}</p> 
        <p><strong>Where to find it:</strong> {{ movie.where }}</p>
        <p><strong>Why you should watch it:</strong> {{ movie.description }}</p> 
        <p><strong>Genre:</strong> {{ movie.genre }}</p>  
        <p><strong>Watched:</strong> {{ movie.watched }}</p>  
    {% endblock %}
</body>
</html>