{% extends 'base.html' %}
{% block content %}
    <h1>Username: {{ profile.user }}</h1>
    <p>Member since {{ profile.date_joined }}</p>  
    <p><strong>Name: </strong> {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p><strong>Email: </strong> {{ profile.user.email }}</p>
    <a href="#" class="btn btn-rounded">Follow</a>
    <a href="{% url 'logout' %}" class="btn btn-rounded">Logout</a>
    <!-- TO SEE LIST OF THEIR MOVIES -->
    <div class="col s6">
        <table class="striped">
            <h2>Haven't Watched Yet</h2>
            <thead>
                <tr><th>Title</th><th>Where</th></tr>
            </thead>
            <tbody>
                {% for watchable in profile.movie_set.all %}
                    {% if not watchable.watched %}
                    <tr>
                        <td>{{watchable.title}}</td>
                        <td>{{watchable.where}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        <table class="striped">
            <h2>Watched</h2>
            <thead>
                <tr><th>Title</th><th>Where</th></tr>
            </thead>
            <tbody>
                {% for watchable in profile.movie_set.all %}
                    {% if watchable.watched %}
                    <tr>
                        <td>{{watchable.title}}</td>
                        <td>{{watchable.where}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
{% endblock %}


