{% extends 'base.html' %}
{% block content %}
    <h1>{{ profile.user }}</h1>
    <p><strong>Name: </strong> {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p><strong>Email: </strong> {{ profile.user.email }}</p>
    <p><strong>Fave Flick: </strong> {{ profile.fave_movie }}</p>
    <a href="{% url 'follow' profile.id %}" class="btn btn-rounded">Follow</a>

    <!-- TO SEE LIST OF THEIR MOVIES -->
    <div class="col s6">
        <table class="striped">
            <h2>Haven't Watched Yet</h2>
            <thead>
                <tr><th>Title</th><th>Where</th></tr>
            </thead>
            <tbody>
                {% for watchable in profile.movie_set.all %}
                    {% if not watchable.watched %}
                    <tr>
                        <td><a href="{% url 'watchable_detail' watchable.id %}">{{watchable.title}}</a></td>
                        <td>{{watchable.where}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        <table class="striped">
            <h2>Watched</h2>
            <thead>
                <tr><th>Title</th><th>Where</th></tr>
            </thead>
            <tbody>
                {% for watchable in profile.movie_set.all %}
                    {% if watchable.watched %}
                    <tr>
                        <td><a href="{% url 'watchable_detail' watchable.id %}">{{watchable.title}}</a></td>
                        <td>{{watchable.where}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" class="btn" value="UPDATE">
        </form>
{% endblock %}


