{% extends 'base.html' %} 
{% block content %}
    <h1>{{ profile.user }}</h1>
        {% if profile.user == request.user %}
        <form action="{% url 'settings' %}" method="get">
        <input type="submit" class="btn" value="Settings" />
        </form>
        {% endif %}
    <p><strong>Name: </strong> {{ profile.user.first_name }} 
    {{ profile.user.last_name }}</p>
    <p><strong>email: </strong> {{ profile.user.email }}</p>
    <p><strong>Fave Flick: </strong> {{ profile.fave_movie }}</p>
    <p><strong>Fave Quote: </strong><em>{{ profile.quote }}</em></p>
    
    <!-- FOLLOW BUTTON CHANGES BASED ON USER -->
    {% if profile.user != request.user %}
        <a href="{% url 'follow' profile.id %}" class="btn btn-rounded">Follow</a>
    {% endif %}


    <!-- TO SEE LIST OF TO WATCH, PRIVATE -->
    {% if profile.user == request.user %}
    <div class="col s6">
    <table class="striped">
        <h2>My WatchList</h2>
        <thead>
        <tr>
            <th>Title</th>
            <th>Where to Watch</th>
        </tr>
        </thead>
        <tbody>
        {% for watchable in profile.movie_set.all %} 
        {% if not watchable.watched %}
        <tr>
            <td>
            <a href="{% url 'watchable_detail' watchable.id %}"
                >{{watchable.title}}</a
            >
            </td>
            <td>{{watchable.where}}</td>
        </tr>
        {% endif %} 
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <!-- DISPLAYS LIST OF WATCHED ITEMS AND RECOMMENDATINS -->
    <table class="striped">
        <h2>My Recommendations</h2>
        <thead>
        <tr>
            <th>Title</th>
            <th>Do I recommend this?</th>
        </tr>
        </thead>
        <tbody>
        {% for watchable in profile.movie_set.all %} 
        {% if watchable.watched %}
        <tr>
            <td>
            <a href="{% url 'watchable_detail' watchable.id %}"
                >{{watchable.title}}</a
            >
            </td>
            <td>{{watchable.recommend}}</td>
        </tr>
        {% endif %} {% endfor %}
        </tbody>
    </table>
    </div>




    <!-- Current user's page --> 
    {% if profile.user == user %}
        <!-- Profile photo -->
        {% if profile.profile_photo_url %}
            <img class="profile-photo" src="{{ profile.profile_photo_url}}">
        {% else %}
            <div class="profile-photo-empty">Upload a profile photo</div>
        {% endif %}

     <!-- Not current user's page -->    
    {% else %}
        <!-- Profile photo -->
        {% if profile.profile_photo_url %}
            <img class="profile-photo" src="{{ profile.profile_photo_url}}">
        {% else %}
            <div class="profile-photo-empty">Upload a profile photo</div>
        {% endif %}

    {% endif %}
{% endblock %}
