{% extends 'base.html' %} 
{% load static %}
{% block content %}

    <!-- settings in profile -->

      <!-- {% if profile.user == request.user %} -->

      <!-- <form action="{% url 'settings' %}" method="get">
        <input type="submit" class="btn" value="Settings" />
      </form> -->
      <!-- {% endif %} -->
    



    
  <figure class="snip0057 red hover">
    <div class="user-block"><h2 class="username">{{ profile.user }}</h2></div>
    <figcaption>
      <h4 class="name">{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
    <!-- FOLLOW BUTTON CHANGES BASED ON USER -->
      {% if profile.user != request.user %}
        <a href="{% url 'follow' profile.id %}"><i class="fas fa-user-friends"></i></a>
      {% endif %}
      <h5 class="username"><span>Fave Film:</span> {{ profile.fave_movie }}</h5>
      <div id="quote" class="username">"{{ profile.quote }}"</div>
    </figcaption>
    <!-- Profile Photo-->
    {% if profile.profile_photo_url %}
      <div class="image"><img src="{{ profile.profile_photo_url}}" alt="profilephoto"></div>
    {% else %}
      <div class="image"><img src="{% static 'images/generic-profile.png'%}"></div>
    {% endif %}
    {% if profile.user == request.user %}
      <div class="watchlist-position">
        <div>My WatchList</div>
        {% for watchable in profile.movie_set.all %} 
          {% if not watchable.watched %}
          <div class="watchlist-div">
            <div class="watchlist-title"><a href="{% url 'watchable_detail' watchable.id %}">{{watchable.title}}</a></div>
            <div class="watchlist-where"><p> {{watchable.where}}</p></div>
          </div>
          {% endif %} 
          {% endfor %}
      {% endif %}
      </div>
  </figure>
  <figure>
    <div class="recommended-position">
        <div>My Recommendations</div>
          {% for watchable in profile.movie_set.all %} 
          {% if watchable.watched %}
          <div class="recommended-title"><a href="{% url 'watchable_detail' watchable.id %}">{{watchable.title}}</a></div>
          {% if watchable.recommend %}
          <div class="recommended-description"><p>{{watchable.description}}</p></div>
          {% endif %}
        {% endif %} 
        {% endfor %}
      </div>
  </figure>
{% endblock %}