{% load static %}
<!DOCTYPE html>
<html long="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script defer src="{% static 'js/base.js' %}"></script>
  <script src="https://kit.fontawesome.com/c1618a70f2.js" crossorigin="anonymous"></script>
  <title>ShareFlix</title>
</head>

<body>
  <nav>
    <div class="logo">
<!-- INLINE STYLE needed to remove decoation from a tag, need a tag to have HOME button -->
      <a href="{% url 'profile_login' %}" style="color:inherit; text-decoration: none"><h3> SHAREFLIX </h3></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#"><i class="fas fa-search"></i>Search</a>
      </li>
      <li>
        <a href="{% url 'following' user.profile.id %}"><i class="far fa-address-book"></i>Friends</a>
      </li>
      <li>
        <a href="{% url 'profile_detail' user.profile.id %}"><i class="far fa-user"></i></i>{{ user }}</a>
      </li>
      <li>
        <a href="{% url 'settings' %}"><i class="fas fa-cog"></i>Settings</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

<!-- fill whatever you need below -->
  <main>
    {% block content %}
    {% endblock %}

    <button id="myBtn" class="bubble-button"><i class="fas fa-plus-square"></i></button>
    <div id="myModal" class="modal">

      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Add to My WatchList</h2>
        </div>
        <div class="modal-body">
          <form action="{% url 'watchable_create' %}" method="post">
            {% csrf_token %}
            <table>
              <tbody>
                <tr>
                  <th><label for="id_title">Title:</label></th>
                  <td>
                    <input type="text" name="title" maxlength="100" required="" id="id_title">
                  </td>
                </tr>
                <tr>
                  <th><label for="id_how_heard">How heard:</label></th>
                  <td>
                    <textarea name="how_heard" cols="40" rows="10" maxlength="1000" id="id_how_heard"></textarea>
                  </td>
                </tr>
                <tr>
                  <th><label for="id_where">Where:</label></th>
                  <td>
                    <input type="text" name="where" maxlength="100" id="id_where">
                  </td>
                </tr>
                <tr>
                  <th><label for="id_description">Why watch it:</label></th>
                  <td>
                    <textarea name="description" cols="40" rows="10" maxlength="1000" id="id_description"></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
                <input type="submit" value="SUBMIT" class="btn">        
          </form>
        </div>
        <div class="modal-footer">
          <h3>Modal Footer</h3>
        </div>
      </div>
    </div>
        
  </main>


  <footer class="footer">
    <div class="inner-footer">
      <div class="footer-details">
        <!-- **NEED A LOGO IF POSSIBLE <img src="">  -->
        <!-- INLINE STYLE needed to remove decoation from a tag, need a tag to have HOME button -->
        <a href="{% url 'home' %}" style="color:inherit; text-decoration: none"><h3> SHAREFLIX </h3></a>
      </div>
      <div class="footer-details">
        <h2>DEVELOPERS</h2>
        <li><a href="https://github.com/zsiskos"><i class="fab fa-github"></i>zsiskos</a></li>
        <li><a href="https://github.com/ArdyParty"><i class="fab fa-github"></i>ArdyParty</a></li>
        <li><a href="https://github.com/bernallium"><i class="fab fa-github"></i>bernallium</a></li>
      </div>

      <div class="footer-details">
        <h2>CONNECT WITH US!</h2>
        <li><a href="https://www.linkedin.com/in/zoesiskos/"><i class="fab fa-linkedin"></i>ZOE</a></li>
        <li><a href="https://www.linkedin.com/in/ardy-kashani/"><i class="fab fa-linkedin"></i>ARDY</a></li>
        <li><a href="https://www.linkedin.com/in/brandon-bernal/"><i class="fab fa-linkedin"></i>BRANDON</a></li>
      </div>

      <div class="footer-details">
        <h2>CONTACT</h2>
        <li>shareflixapp@gmail.com</li>
        <li class="address'">220 King St W Suite 300</li>
        <li>Tdot, ON, Canada</li>
        <li class="phone">(647) 696-1039</li>
      </div>
    </div>
    <div class="footer-bottom">
      &copy;SHAREFLIX&reg;
      2020 All rights reserved
    </div>
  </footer>
</body>
</html>

