* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ff98a7;
  color: linen;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 6px;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 82vh;
  letter-spacing: 3px;
  position: relative;
  background: url('../images/showcase-img.jpg') no-repeat center center/cover;
}

.showcase:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0, 0.6);
  box-shadow: inset 10px 0px 200px #ff98a7, inset -10px -80px 200px #ff98a7;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top .logo {
  letter-spacing: 5px;
  margin-left: 20px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  color: #ff98a7;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.1;
  margin: 0 0 32px;
  width: auto;
}

.showcase-content p {
  text-transform: uppercase;
  color: #ff98a7;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.25;
  margin: 0 0 25px;
}


/*containers of stories*/
.container {
  max-width: 85%;
  margin: auto;
  overflow: hidden;
}

.tabs {
  background: #ff98a7;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: #ff98a7 4px solid;
}

.tabs .container > div {
  padding: 30px 0 0;
  color: rgba(240, 141, 155, 0.9);
  z-index: 2;
  height: 190px;
}

#tab-1 {
  background: url('../images/julie.jpg') no-repeat;
  background-size: 120%;
}

#tab-2 {
  background: url('../images/arvin.jpg') no-repeat;
  background-size: 120%;
}

#tab-3 {
  background: url('../images/pete.jpg') no-repeat;
  background-size: 100%;
}

.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
  border-bottom: linen 4px solid;
  color: rgba(250, 151, 165, 0.7);
}

.tab-border {
  border-bottom: #ff98a7 4px solid;
}

.tabs p {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 8px;
}

/*stories*/

.tab-content {
  background-color: #ff98a7
}

.tab-content .container {
  padding: 48px 0;
  background-color: rgba(240, 141, 155, 0.5);
}

/* Hide initial content */
.tab-content .container {
  display: none;
}

.tab-content .container .active[data-tab-content] {
  display: block;
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

/*.show {
}*/

#tab-1-content {
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100px;
}

#tab-2-content {
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}

#tab-3-content {
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}

/*footer*/
.footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}

/*text styles*/
.text-xl {
  font-size: 32px;
  margin-bottom: 16px;
}

.text-lg {
  font-size: 24px;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
}

/*buttons*/
.btn {
  display: inline-block;
  color: linen;
  background-color: #E490A8;
  padding: 5px 12px;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  outline: none;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.4);
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-rounded {
  font-weight: bold;
  border-radius: 5px;
}

.btn-xl {
  font-weight: bold;
  font-size: 32px;
  padding: 12px 28px;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 16px;
  padding: 7px 20px;
  text-transform: uppercase;
}




@media (max-width: 1000px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top .logo {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 50px;
    line-height: 1;
    width: auto;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    text-transform: uppercase;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .text-md {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .tabs i {
    font-size: 35px;
    padding-top: 10px;
  }

  .tabs p {
    font-size: 20px;
    display: block;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
  }

  .tabs .container > div {
    padding-top: 0px;
    height: 120px;
  }

  #tab-2, #tab-1 {
    height: 120px;
    background-size: 120%;
  }

  #tab-3 {
    height: 120px;
    background-size: 100%;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 10px 0px 100px #ff98a7, inset -10px -40px 150px #ff98a7;
  }

  .showcase-content h1 {
    font-size: 40px;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 16px;
  }

  .btn-xl {
    font-size: 1rem;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
  }
}

@media(max-width: 600px) {
  .showcase-top .logo, a {
    margin: 0;
    padding: 2px 4px;
  }

  .tabs .container {
    display: block;
  }

  .tabs i {
    font-size: 60px;
    padding-top: 20px;
    font-weight: 900;
  }

  .tabs p {
    font-size: 40px;
    display: block;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 3px;
    margin: 0;
  }

  .tabs .container > div {
    padding-top: 8px;
    margin-top: 2px;
  }

  #tab-2, #tab-1 {
    background-size: 120%;
    height: 160px;
  }

  #tab-3 {
    height: 160px;
    background-size: 100%;
    background-position: bottom 50% top 0;
  }

  .showcase-top .logo {
    left: 0;
  }

  .showcase-top a {
    right: -40px;
  }
}

@media(max-height: 600px) {
  .showcase-content {
    margin-top: 26px;
  }
}




