<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
    <script src="https://kit.fontawesome.com/c1618a70f2.js" crossorigin="anonymous"></script>
    <script src="../../static/js/login.js" defer></script>
    <title>Document</title>
</head>
<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form method="post" action="{% url 'signup' %}">
        <h1>Create Account</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div> -->
        <span>or use your email for registration</span>
        {% csrf_token %}

          <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
  <p><label for="id_password1">Password:</label> <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"> 
    <span class="helptext"></span>
  </p><p></p>
  <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
          <input type="submit" class="btn" value="signup">
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form method="post" action="{% url 'login' %}">
        <h1>Sign in</h1>

          
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        {% csrf_token %}
        {{ form.as_p }}
        <a href="#">Forgot your password?</a>
        
        <input type="submit" class="btn" value="log in">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
    
    <!-- login form -->
    <!-- <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a href="{% url 'signup' %}" class="btn btn-rounded">New User?</a> -->
    
    
</body>
</html>

