<!DOCTYPE html>
<html long="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <title>ShareFlix</title>
</head>

<body>
  <nav>
    <div class="logo">
      <h3> SHAREFLIX </h3>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">Search</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">Friends</a>
      </li>
      <li>
        <a href="#">Settings</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

  <footer class="footer">
    <div class="innter-footer">
      <div class="logo-container">
        <!-- **NEED A LOGO IF POSSIBLE <img src="">  -->
        <h1>SHAREFLIX</h1>
        <h2></h2>
      </div>
      <div class="footer-details">
        <h2>Developers</h2>
        <h3>ArdyParty</h3>
      </div>
      <div class="footer-details">
        <h2></h2>
        <h3>Zsiskos</h3>
      </div>
      <div class="footer-details">
        <h2></h2>
        <h3>bernallium</h3>
      </div>
    </div>
  </footer>

    <script src="../static/js/home.js"></script>
</body>
</html>

