{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">
  <script src="https://kit.fontawesome.com/c1618a70f2.js" crossorigin="anonymous"></script>
    <title>ShareFlix</title>
</head>
<body>
  <header class="showcase">
    <div class="showcase-top">
       <h1 class="logo">SHAREFLIX</h1>
      <a href="{% url 'login' %}" class="btn btn-rounded">Sign In</a>
    </div>
    <div class="showcase-content">
      <p> stop searching </p>
      <h1> Start Watching </h1>
      <a href="{% url 'signup' %}" class="btn btn-xl">Join for Free <i class="fas fa-chevron-right btn-icon"></i></a>
    </div>
  </header>
  <!-- each story tab -->
  <section class="tabs">
    <div class="container">
      <div id="tab-1" class="tab-item tab-border">
        <i class="fas fa-user-alt fa-3x"></i>
        <p class="hide-sm">meet Zahra</p>
      </div>
      <div id="tab-2" class="tab-item tab-border">
        <i class="fas fa-user-alt fa-3x"></i>
        <p class="hide-sm">meet Arvin</p>
      </div>
      <div id="tab-3" class="tab-item tab-border">
        <i class="fas fa-user-alt fa-3x"></i>
        <p class="hide-sm">meet Bryan</p>
      </div>
    </div>
  </section>

  <!-- each story -->
  <section class="tab-content">
    <div class="container">
      <!-- CONTENT OF STORY -->
      <div id="tab-1-content" class="tab-content-item show">
        <div class="tab-1-content-inner">
          <div>
            <p class="text-lg">She remembered a text conversation where a friend recommended a show she’d love but she can’t remember the name or who it was with.</p>
            <p class="text-lg">She checks her texts, Slack, FB messenger, and four different WhatsApp groups before she finally finds the name of the show.</p>
          </div>
        </div>
      </div>
      <div id="tab-2-content" class="tab-content-item show">
        <div class="tab-2-content-top">
          <div>
            <p class="text-lg">They sit down to watch a show a friend said they’d love but Arvin doesn’t know where to look.</p>
            <p class="text-lg">They log into Netflix, Apple TV, and Crave, before finally finding it on Prime Video...</p>
          </div>
        </div>
      </div>
      <div id="tab-3-content" class="tab-content-item show">
        <div class="tab-3-content-bottom">
          <div>
            <p class="text-lg">He’s organized, so he opens up his note taking app to see the list of movie recommendations he’s curated from his friends.</p>
            <p class="text-lg">But there’s no context, no description of why he would like it, or who recommended it, so he ends up watching the trailers for each movie before finally deciding to just head to bed...</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer class="footer">
    <div class="footer-bottom">
      &copy;SHAREFLIX&reg;
      2020 All rights reserved
    </div>
  </footer>
  <script src="{% static 'js/home.js' %}"></script>
</body>
</html>






